.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.875rem 0;
  border-bottom: 1px solid #5c5c5c;
}

.header > h1 {
  font-size: 24px;
}

.logoCompany {
  width: max-content;
  height: 64px;
  display: block;
}
